  <p-toolbar>
      <div class="ui-toolbar-group-right">
          <button pButton type="button"  label="Refresh" icon="pi pi-search" (click)="refresh()" [disabled]="loading"></button>
      </div>
  </p-toolbar>

  <p-table #dt [value]="tournaments" [loading]="loading" >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="status">..<p-sortIcon field="status"></p-sortIcon></th>
          <th pSortableColumn="start">time<p-sortIcon field="start"></p-sortIcon></th>
          <th pSortableColumn="places">places<p-sortIcon field="places"></p-sortIcon></th>
          <th pSortableColumn="maxCapacity"><p-dropdown [options]="capacity" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, 'maxCapacity', 'equals')"></p-dropdown></th>
          <th>name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>
            <span [ngClass]="car.status == 'inProgress' ? 'glyphicon glyphicon-tower' : 'glyphicon glyphicon-time' " title="{{car.status}}"></span>
            {{ car.status == 'inProgress' ? 'open' : 'wait' }}
          </td>
          <td>{{ car.start }}</td>
          <td>{{ car.places }}</td>
          <td>{{ car.maxCapacity }}</td>
          <td>{{ car.name }}</td>
        </tr>
      </ng-template>
  </p-table>
